body, html {
    height: 99%;
  }
  
.bg {
    /* The image used */
    background-image: url("imagen.png");
    background-color: #232424;
  
    /* Full height */
    height: 99%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }